.container {
    position: relative;
    height: 100%;

    &.btnBack,
    &.btnNext,
    &.btnNextLive {
        height: unset;
        > div {
            border-radius: 50%;
        }

        .overlay {
            opacity: 0;
            transition: all ease-in-out 0.5s;
        }

        .content {
            border: unset;
            background-color: transparent;
            width: calc(40px + (200 - 40) * ((100vw - 360px) / (3840 - 360)));
            height: calc(40px + (200 - 40) * ((100vw - 360px) / (3840 - 360)));
            padding: calc(
                (40px + (140 - 40) * ((100vw - 360px) / (3840 - 360))) / 4
            );
        }

        .content svg {
            width: 100%;
            height: 100%;
        }
    }

    &.btnBack {
        position: absolute;
        top: 47%;
        left: 15%;
        margin-top: calc(
            (40px + (140 - 40) * ((100vw - 960px) / (3840 - 960))) / 2 * -1
        );
        margin-left: calc(
            (40px + (140 - 40) * ((100vw - 960px) / (3840 - 960))) / 2 * -1 +
                5px
        );
        z-index: 2;

        .overlay {
            margin-left: 5px;
        }
    }

    &.btnNext,
    &.btnNextLive {
        position: absolute;
        top: 47%;
        right: 15%;
        margin-top: calc(
            (40px + (140 - 40) * ((100vw - 960px) / (3840 - 960))) / 2 * -1
        );
        margin-right: calc(
            (40px + (140 - 40) * ((100vw - 960px) / (3840 - 960))) / 2 * -1 +
                5px
        );

        .overlay {
            margin-left: -5px;
        }
    }

    &.login {
        background-color: unset;
        outline: unset;
        border: unset;
        padding: 0;
        height: auto;

        .content {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
            font-weight: 600;
            padding: 10px 40px;
            border-radius: 0;
        }

        .overlay {
            border-radius: 0;
        }
    }

    &.statement {
        height: 100%;

        .content {
            display: flex;
            align-items: center;
            padding: 10px 20px;
        }

        &.s16 {
            .content {
                font-size: calc(14px + (34 - 14) * ((100vw - 960px) / (3840 - 960)));
            }
        }
    }
    &.choosent {
        .content {
            padding: 15px 25px;
        }
    }

    > div {
        border-radius: 15px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffd685;
        z-index: -1;
        border: 4px solid #2b2b2b;
    }

    .content {
        border: 4px solid #2b2b2b;
        background-color: #fff1d6;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.5s;
        cursor: pointer;
        font-size: calc(16px + (50 - 16) * ((100vw - 960px) / (3840 - 960)));
        color: #2b2b2b;
        font-weight: bold;
        align-items: center;
        display: flex;
        justify-content: center;
        letter-spacing: 0.02em;

        &.education {
            padding: 5px;
        }

        &.profession {
            white-space:pre-line;
        }

        &.gender {
            // padding: 42px 0;
            height: 145px;
        }
    }
}

.container:hover,
.container:active,
.container.selected {
    .content {
        transform: translate(5%, 7%) scaleY(0.85) scaleX(0.9);
    }

    .content.age {
        background-color: #ff604d;
    }

    .content.gender {
        background-color: #86c369;
        transform: translate(4%, 5%) scaleY(0.9) scaleX(0.91);
    }

    .content.education {
        background-color: #f17a99;
        transform: translate(3.5%, 7%) scaleY(0.85) scaleX(0.93);
    }

    .content.profession {
        background-color: #8ee1cb;
        transform: translate(3%, 6%) scaleY(0.85) scaleX(0.94);
    }

    .content.live {
        transform: translate(0, 0);
        background-color: unset;
    }

    &.statement {
        .content {
            background-color: #f5a3b9;
            transform: translate(2.5%, 2.5%) scaleY(0.95) scaleX(0.95);
        }
    }

    &.choosent {
        .content {
            color: #f7f7f7;
            background-color: #4580bf;
            transform: unset;
        }
    }

    &.btnBack,
    &.btnNext,
    &.btnNextLive {
        .content {
            transform: unset;
            // width: calc(40px + (200 - 40) * ((100vw - 360px) / (3840 - 360)));
            // height: calc(40px + (200 - 40) * ((100vw - 360px) / (3840 - 360)));
        }
        .overlay {
            opacity: 1;
            transform: scale(1.1);
            transition: all ease-in-out 0.5s;
        }
    }

    &.btnBack {
        .content {
            svg {
                // margin-left: -5px;
            }
        }
    }

    &.btnNext,
    &.btnNextLive {
        .content {
            svg {
                // margin-right: -5px;
            }
        }
    }
}

.home-btn {
    width: 40%;
    height: unset;

    .content {
        border-radius: 12px;
        padding: 15px;
        font-size: calc(15px + (55 - 15) * ((100vw - 960px) / (3840 - 960)));
        color: #2b2b2b;
    }
}
.home-btn:hover,
.home-btn.selected {
    .content {
        width: 100%;
        background-color: #4580bf;
        color: #FFF1D6;
        transform: unset;
    }
}

.home-action-btn {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    .content {
        border-radius: 50%;
        padding: 2.5% 20px;
        font-size: calc(26px + (140 - 26) * ((100vw - 960px) / (3840 - 960)));
        margin-left: 5px;
        color: #2b2b2b;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        -webkit-text-fill-color: #f7f7f7; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #2b2b2b;
        transition: all ease-out 0.5s;
        font-weight: 900;
    }

    .overlay {
        border-radius: 50%;
        top: 5px;
        left: 10px;
        background-color: #2b2b2b;
    }
}

.home-action-btn:hover {
    .content {
        background-color: #f17a99;
        transform: translate(5px, 5px);
        color: #f7f7f7;
        width: 100%;
    }
}

@media only screen and (max-width: 959px) {
    
    .container {
        .content {
            border-width: 1px;
            border-radius: 12px;
            // font-style: normal;
            // font-weight: bold;
            font-size: 1.1rem;
            // line-height: 21px;
            // padding: 5%;
        }

        &.statement {
            &.s16 {
                .content {
                    font-size: 0.9rem;
                }
            }
        }

        &.choosent {
            .content {
                width: 100%;
            }
        }

        .content.gender {
            height: 100%;
        }

        .content.profession {
            font-size: 0.8rem;
            padding: 5px;
        }

        .overlay {
            border-width: 1px;
            border-radius: 12px;
        }

        &:hover,
        &.selected {
            .content {
                transform: translate(10px, 10px);
            }

            .content.gender {
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                transform: translate(10px, 10px);
            }

            .content.age {
                transform: translate(2.6%, 7%) scaleY(0.85) scaleX(0.95);
            }

            .content.profession {
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                transform: translate(10px, 10px);
            }
        }

        &.btnBack {
            margin-left: -15px;

            .overlay {
                margin-left: 2px;
            }
        }

        &.btnNext, &.btnNextLive {
            margin-right: -15px;

            .overlay {
                margin-left: -2px;
            }
        }
    }
    .home-btn {
        margin-bottom: 10%;
        
        .content {
            padding: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 13px;
        }

        .overlay {
            display: none;
        }
    }

    .home-btn:hover {
        .content {
            width: 100%;
            background-color: #4580bf;
            color: #FFF1D6;
            transform: unset;
        }
    }

    .home-action-btn {
        .content {
            border-radius: 50%;
            font-style: normal;
            font-weight: bold;
            font-size: 18.7393px;
            line-height: 24px;
            -webkit-text-stroke-width: 1px;
        }

        .overlay {
            border-radius: 50%;
        }
    }
}
