.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: calc(6px + (25 - 6) * ((100vw - 360px) / (3840 - 360)));
    z-index: -1;
}