.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5%;

    &.program {
        margin-bottom: 2.5%;
        .title {
            background-color: #fdb10d;
            .container_title {
                padding: 0 !important;
                padding-right: 5% !important;
                align-items: center;

                .container_title_percentage {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    h2 {
                        margin: 20px;
                        font-size: calc(
                            16px + (36 - 16) * ((100vw - 960px) / (3840 - 960))
                        );
                        letter-spacing: 0.02em;
                    }

                    .container_percentage {
                        background-color: #fff1d6;
                        border: solid 3px #2b2b2b;
                        border-radius: 12px;
                        padding: 4px;
                        margin-left: -7px;
                        height: calc(100% + 14px);

                        .percentage {
                            height: 100%;
                            padding: 0 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            background-color: #ffd685;
                            font-family: "Shrikhand", cursive;
                            font-weight: 500;
                            font-size: calc(
                                16px + (36 - 16) *
                                    ((100vw - 960px) / (3840 - 960))
                            );
                        }
                    }
                }
            }
        }

        .content {
            transform: translateY(-10%);
        }
    }

    .title {
        text-align: center;
        display: flex;
        border-radius: 15px;
        border: solid 3px #2b2b2b;
        padding: 5px;
        background-color: #fff1d6;
        z-index: 2;
        color: #2b2b2b;

        .container_title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #ffd685;
            padding: 20px 35px;
            border-radius: 12px;
            align-items: center;

            h2 {
                letter-spacing: 0.02em;
                margin: 0;
                font-family: "Shrikhand", cursive;
                font-style: normal;
                font-weight: normal;
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: calc(
                    20px + (40 - 20) * ((100vw - 960px) / (3840 - 960))
                );
                text-align: left;
            }

            .btn {
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .btn1 {
                    width: 100%;
                    height: 3px;
                    background-color: #2b2b2b;
                    border-radius: 4px;
                }

                .btn2 {
                    width: 100%;
                    height: 3px;
                    background-color: #2b2b2b;
                    transform: rotate(90deg);
                    margin-top: -3px;
                    border-radius: 4px;
                    transition: all 0.5s;
                }

                &.expand .btn2 {
                    transform: rotate(0);
                    margin-top: 0;
                    opacity: 0;
                    transition: all 0.5s;
                }
            }
        }
    }

    .content {
        max-height: 0;
        position: relative;
        transition: all ease-out 0.5s;
        background-color: #2b2b2b;
        color: #f7f7f7;
        border-radius: 0 0 20px 20px;
        z-index: 1;
        transform: translateY(-6%);

        p {
            padding: 1% 5%;
            font-size: calc(
                20px + (32 - 20) * ((100vw - 960px) / (3840 - 960))
            );
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 500;
            text-align: left;
            letter-spacing: 0.02em;
            margin: 5% 2%;
            line-height: 1.5;
        }

        &.expand {
            max-height: 400px;
            transition: all ease-in 0.5s;
        }
    }
}

@media only screen and (max-width: 959px) {
    .container {
        margin-bottom: 3%;
        .title {
            border-width: 1px;
            border-radius: 6px;
            padding: 2px;

            .container_title {
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding: 10px 15px;

                h2 {
                    font-size: 0.55rem;
                }

                .btn {
                    width: 0.8rem;
                    height: 0.8rem;

                    .btn1 {
                        height: 2px;
                    }

                    .btn2 {
                        height: 2px;
                        margin-top: -2px;
                    }
                }
            }
        }

        .content {
            border-radius: 0 0 6px 6px;

            p {
                padding: 0 5%;
                font-size: 0.5rem;
                line-height: 15px;
                text-align: left;
                margin: 5% 2%;
                margin-top: 6%;
            }
        }

        &.program {
            .title {
                border-radius: 10px;
                .container_title {
                    border-radius: 8px;
                    .container_title_percentage {
                        .container_percentage {
                            border-width: 1px;
                            padding: 2px;
                            margin-left: -3px;
                            height: calc(100% + 6px);
                            border-radius: 10px;

                            .percentage {
                                padding: 0 5px;
                                border-radius: 8px;
                            }
                        }
    
                        h2 {
                            font-size: 0.55rem!important;
                            margin: unset!important;
                            padding: 0 10px;
                            height: 2.3rem;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.04em;
                        }
                    }
                }
            }
        }
    }
}
