.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/bg.png');
    background-size: 100%;
    position: relative;

    .subcontainer {
        width: 80%;
        height: 80%;
        border-radius: 16px;
        position: relative;
        background-color: #fff1d6;
        z-index: 2;
    }
    .subcontainer_overlay {
        width: calc(80% + 20px);
        height: calc(80% + 20px);
        border: solid 4px #2b2b2b;
        border-radius: 18px;
        background-color: #fdb10d;
        position: absolute;
        z-index: 1;
    }
}
