.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/bg.png');
    background-size: 100%;
    flex-direction: column;
    overflow: hidden;
    color: #2b2b2b;

    &.intro {
        background-color: #FDC54A;
    }

    &.result {
        background-color: #A1D08A;
    }
}
