.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/bg.png");
    background-size: 100%;
    background-color: #95b6db;
    position: relative;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    & *::-webkit-scrollbar {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 9%;
        left: 13%;
        width: 74%;
        height: 70%;
        background: #2b2b2b;
        border-radius: 15px;
    }

    .content {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        width: 80%;
        height: 75%;
        border: solid 6px #fdb10d;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 20px;
        padding: 5%;
        background-color: #fff1d6;
        z-index: 2;
    }
    .content_overlay {
        width: calc(80% + 8px);
        height: calc(75% + 8px);
        border-radius: 25px;
        background-color: #2b2b2b;
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (max-width: 959px) {
    .container {
        .content {
            border-width: 2px;
            border-radius: 10px;
            height: 80%;
        }

        .content_overlay {
            width: calc(85% + 2px);
            height: calc(80% + 2px);
            border-radius: 12px;
            display: none;
        }

        &::after {
            content: unset;
        }
    }
}
