.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/bg.png');
    background-size: 100%;
    background-color: #95B6DB;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 8%;
        left: 13%;
        width: 74%;
        height: 70%;
        background: #2b2b2b;
        border-radius: 15px;
    }

    .content {
        width: 80%;
        height: 75%;
        border: solid 6px #FDB10D;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 20px;
        padding: 5%;
        background-color: #FFF1D6;
        z-index: 2;
        
        .question {
            position: absolute;
            // top: calc((24px + (140 - 24) * ((100vw - 960px) / (3840 - 960))) * -1);
            top: 5%;
            left: 15%;
            margin: 0;
            padding: 0;
            width: 70%;
            text-align: center;
        
            h1 {
                
                font-family: "Shrikhand", cursive;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: calc(24px + (140 - 24) * ((100vw - 960px) / (3840 - 960)));
                background-color: #fed886;
                padding: 1%;
                border-radius: 10px;
                color: #2b2b2b;
            }
        
            &::after {
                content: "";
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                position: absolute;
                top: -8px;
                left: -8px;
                border: solid 4px#2b2b2b;
                z-index: -1;
                border-radius: 15px;
                background-color: #FDB10D;
            }
        }

        .progressbar {
            width: 80%;
            margin-left: 10%;
            height: 10px;
            border: solid #2b2b2b;
            border-radius: 10px;
            transition: all 1s;
            position: relative;

            .bar {
                border-radius: 12px;
                border: solid 2px #2b2b2b;
                height: calc(100% + 4px);
                position: absolute;
                top: -2px;
                left: -2px;
                background-color: #FF604D;
                overflow: hidden;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
    .content_overlay {
        width: calc(80% + 8px);
        height: calc(75% + 8px);
        border-radius: 25px;
        background-color: #2b2b2b;
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (max-width: 959px) {
    .container {
        .content {
            border-width: 2px;
            border-radius: 10px;
            height: 70%;

            .question {
                top: 7%;
                left: 22.5%;
                width: 55%;
        
                h1 {
                    font-size: 1rem;
                    border-radius: 6px;
                    padding: 1% 8%;
                }
        
                &::after {
                    border-width: 1px;
                    border-radius: 8px;
                    top: -5px;
                    left: -5px;
                }
            }

            .progressbar {
                .bar {
                    border-radius: 12px;
                    border: solid 2px #2b2b2b;
                    height: calc(100% + 2px);
                    position: absolute;
                    top: -1px;
                    left: -2px;
                    background-color: #FF604D;
                    overflow: hidden;
                }
            }
        }

        .content_overlay {
            width: calc(80% + 2px);
            height: calc(70% + 2px);
            border-radius: 12px;
        }

        &::after {
            content: unset;
        }
    }
}