.content {
    height: 100%;
    padding: 0 15px;
    overflow: hidden scroll;

    .navbar {
        height: 50px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .btnExport {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .btnExternal {
            margin-right: 2%;
            a {
                display: flex;
            align-items: center;
            cursor: pointer;
            }
        }
    }

    .table {
        height: 100%;
        margin-bottom: 15px;
    
        .btnSurvey {
            cursor: pointer;
        }
    }
    
    
}