.container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    h1 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        width: 60%;
    }

    .answer_container {
        width: 250px;
        display: flex;
        flex-wrap: wrap;

        .half {
            width: 49%;
            margin-bottom: 5px;
            margin-right: 1%;
        }
    }
}
