.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    // live
    &.live {
        flex-direction: column;
        
        .answer_container {
            width: 70%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // text-transform: lowercase;
            align-items: center;

            .half {
                height: fit-content;
                width: 49%;
                margin-bottom: 5px;
                margin-right: 1%;
                position: relative;

            }

            #city {

                & span::first-letter,
                & span::first-line,
                & input::first-letter,
                & input::first-line,
                & div::first-letter,
                & div::first-line {
                    text-transform: capitalize;
                }
            }

            .half:nth-child(1) {
                z-index: 2;
            }

            .half:nth-child(1) {
                z-index: 1;
            }
        }
    }

    h1 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #2b2b2b;
    }

    p {
        width: 60%;
    }

    .answer_container {
        min-width: 40%;
        max-width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        height: 80%;

        > div {
            margin: 1.5%;
        }

        .half {
            width: 40%;
        }

        .third {
            width: 30%;
            // min-height: 40%;
        }

        .third-profession {
            width: 30%;
        }

        .full {
            width: 100%;
        }
    }
}

.question {
    position: absolute;
    // top: calc((24px + (140 - 24) * ((100vw - 960px) / (3840 - 960))) * -1);
    top: 6%;
    left: 15%;
    margin: 0;
    padding: 0;
    width: 70%;
    text-align: center;

    h1 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: calc(24px + (140 - 24) * ((100vw - 960px) / (3840 - 960)));
        background-color: #fed886;
        padding: 1%;
        border-radius: 10px;
        color: #2b2b2b;
    }

    &::after {
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        position: absolute;
        top: -8px;
        left: -8px;
        border: solid 4px#2b2b2b;
        z-index: -1;
        border-radius: 15px;
        background-color: #fdb10d;
    }

    // &.age::after {
    //     background-color: #4580BF;
    // }

    // &.education::after {
    //     background-color: #67D6B9;
    // }

    // &.gender::after {
    //     background-color: #FF604D;
    // }

    // &.profession::after {
    //     background-color: #B3609E;
    // }

    // &.live::after {
    //     background-color: #F17A99;
    // }
}

@media only screen and (max-width: 959px) {
    .container {
        .answer_container {
            height: 100%;
            padding: 15px 0;
            padding-top: 35px;

            &.answer_container_prof {
                padding-top: 10px;
            }

            > div {
                margin: 3%;
            }
    
            .half,
            .third,
            .third-profession,
            .full {
                width: 100% !important;
            }

            .third-profession {
                min-height: 40px;
            }
        }
    }
    .question {
        top: 8%;
        left: 20%;
        width: 60%;

        h1 {
            font-size: 1.1em;
            border-radius: 6px;
            padding: 1% 10%;
        }

        &::after {
            border-width: 1px;
            border-radius: 8px;
            top: -5px;
            left: -5px;
        }
    }
}
