.container {
    display: flex;
    flex-direction: row;
    height: 71vh;
    margin: 7.5% 10%;
    font-size: calc(10px + (50 - 10) * ((100vw - 960px) / (3840 - 960)));
    font-weight: bold;

    &::before {
        content: "";
        background: #2b2b2b;
        width: 32%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 52%;
        border-radius: 3%;
        margin-top: 6.5%;
    }

    .left {
        text-align: left;
        font-weight: 600;
        width: 45%;
        line-height: 2;
        border-style: solid none solid solid;
        border-width: 4px;
        border-color: #2b2b2b;
        background-color: #fff1d6;
        border-radius: 20px 0 0 20px;
        border-color: #2b2b2b;
        height: 100%;
        overflow: hidden;

        .container_title {
            display: none;
        }

        .slider {
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;

            > div {
                width: 65%;
            }
        }

        p {
            text-align: center;
            background-color: #acd699;
            width: 100%;
            height: 25%;
            margin: 0;
            display: flex;
            align-items: center;
            font-weight: bold;
            padding: 1em;
            border-top: solid 4px #2b2b2b;
            line-height: 1.8;
        }
    }

    .right {
        position: relative;
        width: 55%;
        text-align: center;
        z-index: 2;
        border-style: solid solid solid solid;
        border-width: 4px;
        border-color: #2b2b2b;
        background-color: #fff1d6;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            width: 65%;
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: calc(
                24px + (120 - 24) * ((100vw - 960px) / (3840 - 960))
            );
            background-color: #ffa399;
            border-radius: 12px;
            position: relative;
            margin-bottom: 5%;
            margin-top: -5%;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 5%;

            &::after {
                content: "";
                position: absolute;
                width: calc(100% + 20px);
                height: calc(100% + 20px);
                background-color: #fff1d6;
                top: -14px;
                left: -14px;
                border-radius: 20px;
                border: solid 4px #2b2b2b;
                z-index: -1;
            }
        }

        .text_container {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 17.5% 0 17.5%;
            line-height: 1.8;
            margin-bottom: 3%;
            font-size: calc(
                16px + (66 - 16) * ((100vw - 960px) / (3840 - 960))
            );
            font-style: normal;
            font-weight: bold;
            font-family: "Source Sans Pro", sans-serif;
        }

        .button_container {
            display: flex;
            justify-content: center;
            justify-content: center;
            align-items: center;
            height: calc(25% - 10px);
        }
    }

    .subtitle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: calc(10px + (60 - 10) * ((100vw - 960px) / (3840 - 960)));
        font-weight: bold;
        border-bottom: solid 4px #2b2b2b;
        width: 100%;
        padding: 1% 0;
    }

    .content {
    }
}

.container_about {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10%;
    background-color: #fff1d6;
    border-style: solid;
    border-width: 4px;
    border-color: #2b2b2b;
    padding: 30px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #2b2b2b;
    line-height: 2;

    .stiker-right {
        position: absolute;
        right: -30%;
        width: 35%;
        top: -50%;
        height: auto;
    }

    .stiker-left {
        position: absolute;
        left: -25%;
        width: 40%;
        bottom: -40%;
        height: auto;
    }

    p {
        font-size: calc(10px + (50 - 10) * ((100vw - 960px) / (3840 - 960)));
        font-weight: bold;
        margin-top: 30px;
    }

    .container_title {
        width: 80%;
        background-color: #fff1d6;
        border-radius: 15px;
        border: solid 4px #2b2b2b;
        display: flex;
        justify-content: center;
        padding: 5px;
        margin-top: -13.5%;

        h2 {
            &.title {
                width: 100%;
                font-family: "Shrikhand", cursive;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: calc(
                    14px + (68 - 14) * ((100vw - 960px) / (3840 - 960))
                );
                background-color: #ffa399;
                border-radius: 10px;
                position: relative;
                z-index: 2;
                padding: 2% 3%;
            }
        }
    }
}

.container_action {
    display: flex;
    flex-direction: row;
    margin: 15% 0 10% 0%;
    margin-left: 8%;
    font-weight: bold;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    letter-spacing: 0.02em;

    > div {
        width: 50%;
    }

    .skenario {
        font-size: calc(22px + (100 - 22) * ((100vw - 960px) / (3840 - 960)));
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: center;
        width: 40%;
        padding: 3%;
        background-color: #fff1d6;
        border-radius: 15px;
        border: solid 4px #2b2b2b;
        font-style: italic;
        line-height: 1.5;
        margin-left: 10%;
    }

    .siap {
        font-size: calc(22px + (84 - 22) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        text-align: center;
        padding: 5px;
        background-color: #fff1d6;
        border-radius: 15px;
        border: solid 4px #2b2b2b;
        font-style: italic;
        line-height: 1.5;
        width: 40%;
        margin-top: -15%;
        margin-left: -4%;

        p {
            background-color: #fed886;
            margin: 0;
            border-radius: 10px;
            padding: 5%;
            padding-right: 6%;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    .stiker {
        position: absolute;
        left: 4%;
        bottom: -15%;
        width: 22%;
    }

    .mulai {
        margin-left: 27%;
        margin-top: -3%;
        text-align: center;
        width: 37%;
        padding: 2%;
        background-color: #fff1d6;
        border-radius: 15px;
        border: solid 4px #2b2b2b;
        line-height: 1.8;
        font-size: calc(10px + (54 - 10) * ((100vw - 960px) / (3840 - 960)));
    }

    .tombol_mulai {
        position: absolute;
        margin-right: -21%;
        right: 10%;
        top: 30%;
        font-family: "Source Sans Pro", sans-serif;

        .container_button {
            position: relative;
            width: 50%;
            padding-top: 50%;

            > div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

@media only screen and (max-width: 959px) {
    .container {
        flex-direction: column;
        width: 80%;
        margin: 10%;
        margin-top: 12.5%;
        border-radius: 12px;
        border: solid 1px #2b2b2b;
        font-size: 8px;
        height: auto;

        &::before {
            content: unset;
        }

        .left,
        .right {
            width: 100%;
            border-radius: unset;
            border: unset;
        }

        .left {
            overflow: unset;
            border-radius: 11px;

            .container_title {
                display: flex;
                position: relative;
                background-color: #fff1d6;
                border-radius: 7px;
                border: solid 1px #2b2b2b;
                align-items: center;
                justify-content: center;
                padding: 4px;
                width: 65%;
                margin-left: 18%;
                margin-top: -7%;

                .title {
                    text-align: center;
                    font-family: "Shrikhand", cursive;
                    font-weight: 500;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 10px 15px;
                    background-color: #ffa399;
                    position: relative;
                }
            }

            .slider {
                height: unset;
                margin: 3% 0;

                > div {
                    width: 75%;
                }
            }

            p {
                border-bottom: solid 1px #2b2b2b;
                border-top: solid 1px #2b2b2b;
                padding: 5% 10%;
                font-weight: bold;
                font-size: 0.6rem;
                line-height: 17.15px;
            }
        }

        .right {
            border-radius: 0 0 12px 12px;
            .title {
                display: none;
            }

            .text_container {
                font-style: normal;
                font-weight: bold;
                font-size: 0.8rem;
                line-height: 2;
                padding: 15px 10%;
            }
        }
    }

    .container_about {
        width: 60%;
        border-width: 1px;
        border-radius: 12px;
        padding: 20px;

        p {
            font-style: normal;
            font-weight: bold;
            font-size: 0.65rem;
            line-height: 20px;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .stiker-right {
            top: unset;
            bottom: -15%;
            right: -30%;
            width: 50%;
        }

        .stiker-left {
            top: unset;
            bottom: -15%;
            left: -25%;
            width: 50%;
        }

        .container_title {
            border-width: 1px;
            margin-top: -40px;
            border-radius: 6px;
            padding: 2px;

            h2 {
                &.title {
                    padding: 5px 10px;
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.6rem;
                }
            }
        }
    }

    .container_action {
        font-style: normal;
        font-weight: 600;
        font-size: 0.5rem;
        line-height: 15px;
        margin-top: 30%;

        .skenario {
            margin-left: 52%;
            border-width: 1px;
            font-style: italic;
            font-weight: bold;
            font-size: 10.4107px;
            line-height: 16px;
            width: 50%;
            border-radius: 8px;
            padding: 5%;
        }

        .siap {
            margin-top: -30%;
            margin-left: -100%;
            border-width: 1px;
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
            letter-spacing: 0.02em;
            width: 55%;
            border-radius: 8px;
            
            p {
                font-size: 0.7rem;
                border-radius: 5px;
            }
        }

        .mulai {
            border-width: 1px;
            width: 60%;
            padding: 5%;
            border-radius: 8px;
            margin-top: 15%;
            margin-left: 25%;
            font-style: normal;
            font-weight: 600;
            font-size: 0.6rem;
            line-height: 15px;
        }

        .tombol_mulai {
            margin-right: 0;
            right: 10%;
            top: 10%;
            width: 70%;
        }

        .stiker {
            width: 30%;
            left: -5%;
            bottom: unset;
            top: 10%;
        }
    }
}
