.content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;

    .title {
        position: absolute;
        top: -7%;
        left: 15%;
        margin: 0;
        padding: 0;
        width: 70%;
        text-align: center;
    
        h1 {
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: calc(24px + (140 - 24) * ((100vw - 960px) / (3840 - 960)));
            background-color: #fed886;
            padding: 1%;
            border-radius: 10px;
            color: #2b2b2b;
        }
    
        &::after {
            content: "";
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            position: absolute;
            top: -8px;
            left: -8px;
            border: solid 4px#2b2b2b;
            z-index: -1;
            border-radius: 15px;
            background-color: #fdb10d;
        }
    }
    

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        > * {
            margin-top: 1%;
        }

        .container_input {
            width: 30%;
            position: relative;
        }

        .input_text {
            width: 100%;
            font-size: 16px;
            padding: 15px;
            outline: unset;
            position: relative;
            z-index: 2;
            border-radius: 6px;

            &::placeholder, &::-webkit-input-placeholder {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}