.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    transition: all 1s;

    h1 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: calc(60px + (240 - 60) * ((100vw - 960px) / (3840 - 960)));
        text-shadow: 2px 2px #2b2b2b;
        color: #fff1d6;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #2b2b2b;
        transform: rotate(-10deg);
    }
}

.modalPreview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2baa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .container_btn {
        cursor: pointer;
        border: solid 2px #2b2b2b;
        position: absolute;
        top: 50%;
        border-radius: 12px;
        padding: 10px;
        font-size: calc(15px + (55 - 15) * ((100vw - 960px) / (3840 - 960)));
        color: #2b2b2b;
        z-index: 4;
        background: #fff1d6;
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #4580bf;
            color: #FFF1D6;
        }
    }

    .overlay {
        background-color: #2b2b2baa;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .previewDownload {
        width: 600px;
        height: 700px;
        // background-image: url('/assets/Template.png');
        // background-size: 600px 700px;
        padding-top: 150px;
        z-index: 3;
        position: relative;

        .bg {
            width: 600px;
            height: 700px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    
        .kompilasi {
            margin-left: 100px;
            width: 400px;
            height: 400px;
            background-size: 100% 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;

            .bg {
                width: 400px;
                height: 400px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .upperRight, .downerLeft, .downerRight {
                width: 200px;
                height: 200px;
                z-index: 2;
                position: relative;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            
    
            .upperRight {
                margin-left: 200px;
                // margin-top: -250px;
            }
    
            // .downerRight {
            //     margin-top: -75px;
            // }
    
            // .downerLeft {
            //     margin-top: -75px;
            // }
        }
    }
}


.result_kolase {
    border: solid 3px #2b2b2b;
    border-radius: 15px;
    padding: 0 5%;
    margin: 10%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2b2b2b;
    position: relative;
    background-color: #fff1d6;

    .container_title {
        background-color: #fdb10d;
        border: solid 3px #2b2b2b;
        padding: 5px;
        text-align: center;
        margin-top: -6%;
        border-radius: 15px;

        h1 {
            background-color: #ffd685;
            padding: 20px 65px;
            margin: 0;
            border-radius: 12px;
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: calc(
                24px + (114 - 24) * ((100vw - 960px) / (3840 - 960))
            );
            letter-spacing: 0.02em;
        }
    }

    .kompilasi {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 600px;
        height: 600px;
        margin-top: 5%;
        background-size: cover;

        > div {
            position: relative;
            top: 0;
            width: 300px;
            height: 300px;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        .bg {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .upperRight {
            margin-left: 300px;
            margin-top: -600px;
        }

        .downerRight {
            margin-top: -300px;
        }

        .downerLeft {
            margin-top: -300px;
        }
    }

    p {
        font-size: calc(20px + (46 - 20) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Source Sans Pro", sans-serif;
        text-align: center;
        font-weight: 700;
        margin: 5% 0;
        letter-spacing: 0.02em;
        padding: 0 7%;
        line-height: 1.5;
    }

    .share {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 5%;
        margin-top: calc(5% + 30px);
        margin-bottom: 0;
        border: solid 3px #2b2b2b;
        position: relative;
        padding: 3%;
        padding-top: calc(3% + 5px);
        border-radius: 15px;

        .container_title {
            position: absolute;
            background-color: #fdb10d;
            border: solid 3px #2b2b2b;
            padding: 5px;
            text-align: center;
            border-radius: 15px;
            top: -20%;

            h2 {
                background-color: #ffd685;
                padding: 10px 20px;
                margin: 0;
                border-radius: 10px;
                font-family: "Shrikhand", cursive;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: calc(
                    16px + (40 - 16) * ((100vw - 960px) / (3840 - 960))
                );
                letter-spacing: 0.02em;
            }
        }

        .container_btn {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;

            .container_btn_share {
                position: relative;
                margin: 0 10px;

                &:hover .btn_share {
                    transform: translate(7%, 7%) scale(0.85);
                    transition: all 0.5s;
                }

                &::before {
                    content: "";
                    border: solid 3px #2b2b2b !important;
                    border-radius: 12px;
                    position: absolute;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background-color: #ff7e70 !important;
                }

                .btn_share {
                    border: solid 3px #2b2b2b !important;
                    display: flex;
                    padding: 10px !important;
                    border-radius: 12px;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    background-color: #fff1d6 !important;
                    transition: all 0.5s;
                    height: 60px;
                    font-style: normal !important;
                    font-weight: bold !important;
                    font-family: "Source Sans Pro", sans-serif !important;

                    &.withIcon {
                        padding-right: 15px !important;
                        background-color: #ffd685 !important;
                        text-align: left;
                        font-style: normal;
                        font-weight: bold;
                        font-size: calc(
                            12px + (32 - 12) * ((100vw - 960px) / (3840 - 960))
                        ) !important;

                        svg {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .selengkapnya {
        margin-top: -3px;
        margin-bottom: 10%;
        color: #2b2b2b;
        padding: 15px 35px;
        padding-top: 13px;
        font-size: calc(16px + (36 - 16) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Source Sans Pro", sans-serif;
        text-align: center;
        font-weight: 600;
        border: solid 3px #2b2b2b;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: #4580bf;
            color: #f7f7f7;
        }
    }
}

.result_categories {
    background-color: #fff1d6;
    border: solid 3px #2b2b2b;
    border-radius: 15px;
    padding: 0 9%;
    padding-bottom: 5%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #2b2b2b;

    .container_title {
        background-color: #fdb10d;
        border: solid 3px #2b2b2b;
        padding: 5px;
        text-align: center;
        margin-top: -10%;
        border-radius: 15px;

        h1 {
            background-color: #ffd685;
            padding: 20px 35px;
            margin: 0;
            border-radius: 12px;
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: calc(
                24px + (114 - 24) * ((100vw - 960px) / (3840 - 960))
            );
            letter-spacing: 0.02em;
        }
    }

    p {
        font-size: calc(20px + (46 - 20) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Source Sans Pro", sans-serif;
        text-align: center;
        font-weight: 700;
        margin: 7% 0;
        letter-spacing: 0.02em;
        line-height: 1.5;
    }
}

.result_program_container {
    display: flex;

    .result_program {
        background-color: #fff1d6;
        border: solid 3px #2b2b2b;
        border-radius: 15px;
        padding: 0 5%;
        padding-bottom: 4%;
        margin: 8% 10%;
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2b2b2b;

        .container_title {
            background-color: #fdb10d;
            border: solid 3px #2b2b2b;
            padding: 5px;
            text-align: center;
            margin-top: -15%;
            margin-bottom: 10%;
            border-radius: 15px;

            h1 {
                background-color: #ffd685;
                padding: 20px 35px;
                margin: 0;
                border-radius: 12px;
                font-family: "Shrikhand", cursive;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: calc(
                    24px + (114 - 24) * ((100vw - 960px) / (3840 - 960))
                );
                letter-spacing: 0.02em;
            }
        }

        p {
            font-size: calc(
                16px + (32 - 16) * ((100vw - 960px) / (3840 - 960))
            );
            font-family: "Source Sans Pro", sans-serif;
            text-align: left;
            font-weight: 500;
            margin: 5% 2%;
            color: #fff1d6;
        }
    }

    .copy {
        margin: 8% 10%;
        margin-left: 1%;
        background-color: #fff1d6;
        border: solid 3px #2b2b2b;
        border-radius: 15px;
        padding: 3%;
        width: 60%;
        height: fit-content;

        h2 {
            font-family: "Source Sans Pro", sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: calc(
                24px + (36 - 24) * ((100vw - 960px) / (3840 - 960))
            );
            margin-top: 0;
        }

        p {
            font-style: normal;
            font-weight: 600;
            font-size: calc(
                16px + (28 - 16) * ((100vw - 960px) / (3840 - 960))
            );
            margin-bottom: 0;
            line-height: 1.5;
        }
    }
}

.thanks {
    background-color: #fff1d6;
    border: solid 3px #2b2b2b;
    border-radius: 15px;
    padding: 20px 40px;
    margin: 8% 20%;
    color: #2b2b2b;

    display: flex;
    flex-direction: column;
    align-items: center;

    .container_title {
        background-color: #fdb10d;
        border: solid 3px #2b2b2b;
        padding: 5px;
        text-align: center;
        margin-top: calc(
            (24px + (114 - 24) * ((100vw - 960px) / (3840 - 960))) * -1 - 90px
        );
        margin-bottom: 20px;
        border-radius: 15px;

        h1 {
            background-color: #ffd685;
            padding: 20px 40px;
            margin: 0;
            border-radius: 12px;
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: calc(
                26px + (140 - 26) * ((100vw - 960px) / (3840 - 960))
            );
            letter-spacing: 0.02em;
        }
    }

    p {
        font-size: calc(20px + (46 - 20) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Source Sans Pro", sans-serif;
        text-align: center;
        font-weight: 700;
        margin: 5% 0;
        letter-spacing: 0.02em;
        padding: 0 7%;
        line-height: 1.5;
    }
}

.footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;

    color: #2b2b2b;

    > div {
        border: solid 3px #2b2b2b;
        display: flex;
        border-radius: 12px;
        align-items: center;
        cursor: pointer;
        position: relative;
        background-color: #fff1d6;
        margin: 1%;
        height: 58px;
        padding: 10px 15px;

        a {
            height: 100%;
            display: contents;
        }
        img {
            height: 100%;
        }
    }

    .social {
        padding: 10px;

        a {
            height: 35px;
        }
    }

    .sanggare {
        font-size: calc(16px + (24 - 16) * ((100vw - 960px) / (3840 - 960)));
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
    }
}

.enter {
    display: none;
}

@media only screen and (max-width: 959px) {
    .enter {
        display: block;
    }
    .loader {
        h1 {
            font-size: 60px;
        }
    }

    .result_kolase {
        border-width: 1px;
        border-radius: 8px;
        margin-top: 15%;

        .container_title {
            padding: 2px;
            border-width: 1px;
            border-radius: 6px;
            margin-top: -25px;

            h1 {
                font-size: 0.8rem;
                border-radius: 4px;
                padding: 10px 15px;
            }
        }

        .kompilasi {
            width: 250px;
            height: 250px;

            > div {
                width: 125px;
                height: 125px;
            }

            .upperRight {
                margin-left: 125px;
                margin-top: -250px;
            }

            .downerRight {
                margin-top: -125px;
            }

            .downerLeft {
                margin-top: -125px;
            }
        }

        p {
            font-style: normal;
            font-weight: bold;
            font-size: 0.55rem;
            padding: 10px;
            margin: 5% 0;
            margin-bottom: calc(5% - 15px);
            // margin-top: calc(10% - 20px);
        }

        .share {
            border-width: 1px;
            margin: 0 10px;
            margin-top: 15%;
            border-radius: 8px;

            .container_title {
                border-width: 1px;
                top: -0.1rem;
                border-radius: 6px;
                padding: 2px;

                h2 {
                    padding: 5px 10px;
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.6rem;
                }
            }

            .container_btn {
                margin-top: 15px;
                .container_btn_share {
                    margin: 5px 7px;

                    &:hover .btn_share {
                        &.withIcon {
                            transform: translate(3.5%, 7%) scaleY(0.85) scaleX(0.93);
                        }
                    }

                    &::before {
                        border-width: 1px !important;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        border-radius: 5px;
                    }

                    .btn_share {
                        border-width: 1px !important;
                        width: 40px;
                        height: 40px;
                        font-size: 0.6rem !important;
                        padding: 8px !important;
                        border-radius: 5px;

                        &.withIcon {
                            width: auto;
                            height: auto;
                            padding: 0 5px !important;
                            padding-right: 8px !important;
                            background-color: #ffd685 !important;
                            text-align: left;
                            font-style: normal;
                            font-weight: bold;
                            border-radius: 5px;

                            svg {
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }

        .selengkapnya {
            font-size: 0.75rem;
            margin-top: 0px;
            border-width: 1px;
            border-top: unset;
            padding: 7px 15px;
            margin-bottom: 15%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    .result_categories {
        border-width: 1px;
        margin-top: 25%;
        border-radius: 8px;
        padding: 8% 7%;
        padding-top: 0;

        .container_title {
            padding: 2px;
            border-width: 1px;
            border-radius: 6px;
            margin-top: -35px;

            h1 {
                font-size: 0.8rem;
                border-radius: 4px;
                padding: 10px 15px;
            }
        }

        p {
            padding: 0 7%;
            font-style: normal;
            font-weight: bold;
            font-size: 0.55rem;
        }
    }

    .result_program_container {
        flex-direction: column-reverse;

        .result_program {
            border-width: 1px;
            border-radius: 8px;
            margin: 10%;
            margin-top: 15%;
            padding: 8% 7%;
            padding-top: 0;

            .container_title {
                padding: 2px;
                border-width: 1px;
                border-radius: 6px;
                margin-top: -35px;

                h1 {
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 10px 15px;
                }
            }

            p {
                font-size: 0.5rem;
                line-height: 15px;
                text-align: left;
                margin: 5% 2%;
                margin-top: 6%;
            }
        }

        .copy {
            border-width: 1px;
            border-radius: 8px;
            width: 80%;
            margin-left: 10%;
            text-align: center;
            padding: 5% 7%;

            h2 {
                font-size: 1rem;
            }

            p {
                font-size: 0.6rem;
                font-style: normal;
                font-weight: bold;
                padding: 0 5%;
            }
        }
    }

    .thanks {
        width: 70%;
        margin-left: 15%;
        border-width: 1px;
        border-radius: 8px;
        padding: 10px 20px;

        .container_title {
            padding: 2px;
            border-width: 1px;
            border-radius: 6px;
            margin-top: -50px;

            h1 {
                font-size: 0.8rem;
                border-radius: 4px;
                padding: 10px 15px;
            }
        }

        p {
            margin-top: -5px;
            font-size: 0.6rem;
            font-style: normal;
            font-weight: 600;
            padding: 0 5px;
        }
    }

    .footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 5% 0;
        > div {
            border-radius: 6px;
            border-width: 1px;
            height: 30px;
            padding: 5px 6px;
            margin: 0;
        }

        .sanggare {
            font-size: 0.4rem;
        }

        .social {
            padding: 5px;

            a {
                width: 20px !important;
                height: 20px !important;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .modalPreview {
        .container_btn {
            font-size: 1rem;
        }
    
        .overlay {
            background-color: #2b2b2baa;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    
        .previewDownload {
            width: 300px;
            height: 350px;
            // background-image: url('/assets/Template.png');
            // background-size: 600px 700px;
            padding-top: 75px;
            z-index: 3;
            position: relative;
    
            .bg {
                width: 300px;
                height: 350px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        
            .kompilasi {
                margin-left: 50px;
                width: 200px;
                height: 200px;
                background-size: 100% 100%;
                display: flex;
                flex-wrap: wrap;
                position: relative;
    
                .bg {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
        
                .upperRight, .downerLeft, .downerRight {
                    width: 100px;
                    height: 100px;
                    z-index: 2;
                    position: relative;
        
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
        
                
        
                .upperRight {
                    margin-left: 100px;
                    // margin-top: -250px;
                }
        
                // .downerRight {
                //     margin-top: -75px;
                // }
        
                // .downerLeft {
                //     margin-top: -75px;
                // }
            }
        }
    }
}
