.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;

    > div {
        margin: 1.5%;
    }

    .half {
        width: 25%;
        height: 60%;
    }

    .half16 {
        width: 25%;
        height: 60%;
    }

    .choosent {
        position: absolute;
        bottom: 5%;
    }
}

@media only screen and (max-width: 959px) {
    .container {
        flex-direction: column;
        padding: 12.5%;

        > div {
            margin: 3.5%;
        }

        .half, .half16 {
            width: 100%;
        }

        .choosent {
            position: unset;
            margin-top: 3%;
            width: 100%;
        }
    }
}